.contacts {
  margin-top: 44px;
  padding: 0px 30px;

  &__heading-wrapper {
    margin-bottom: 42px;
  }

  &__heading-flag {
    display: inline-block;
    background-image: url("../img/flag.svg");
    width: 47px;
    height: 81px;
    display: none;
  }

  &__heading {
  }

  &__adress-box {
    display: flex;
    margin-bottom: 35px;
  }

  &__element {
    margin-right: 20px;
    font-size: 14px;
  }

  &__value {
    font-size: 14px;
    &--underline {
      text-decoration: underline;
      text-decoration-color: #63d1bb;
    }
  }

  &__map-wrapper {
    display: flex;
    justify-content: center;
  }

  &__map {
    margin: 40px -30px 0px -30px;
    background-image: url("../img/map-mobile@1x.jpg");
    width: 322px;
    height: 457px;
    position: relative;
  }

  &__map-pin {
    background-image: url("../img/map-pin.svg");
    width: 67px;
    height: 100px;
    position: absolute;
    top: 145px;
    left: 139px;
  }

  &__button-wrapper {
    margin-top: 58px;
    display: flex;
    justify-content: center;
  }

  &__button {
    padding: 20px 53px;
  }
}
