@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "normalize";

$header-clr: #ffffff;

body {
  max-width: 1920px;
  font-family: Montserrat;
  margin: 0 auto;
  padding: 0px 15px;
}

//header = = = = = = = = = =

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../img/simon-migaj-Yui5vfKHuzs-unsplash.jpg);
  &__nav-wrapper {
  }

  &__nav {
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__nav-list {
    list-style-type: none;
    margin-right: 105px;
    &:last-of-type {
      margin-right: 0px;
    }
  }

  &__nav-link {
  }

  &__societes-wrapper {
  }

  &__societes {
  }

  &__societes-list {
    list-style-type: none;
  }

  &__societes-link {
  }

  &__center-box-wrapper {
  }

  &__center-box-heading {
    color: $header-clr;
    font-size: 100px;
    font-weight: 700;
  }

  &__center-box-subtitle {
  }

  &__center-box-button-wrapper {
  }

  &__center-box-button {
  }
}
.header-links {
  color: $header-clr;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.8px;
  text-decoration: none;
}
