@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// color variables
$font-black: #010000;
$font-gray: #444444;
$font-white: #ffffff;

body {
  font-family: "OpenSans";
  color: $font-black;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
}

.paragraph {
  color: $font-gray;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

@import "fonts";
@import "normalize";
@import "header";
@import "green-boxes";
@import "weekseller";
